body {
  font-family: sans-serif;
  background-color: black;
}


h1{
  color: #22a6b3;
  transition: color .5s ease-in-out;
}

.btn{
  cursor: pointer;
}

.form,
.greetings{
  display: none;
}

.showing{
  display: block;
}

